<template>
  <iframe class="pricepreview" :srcdoc="this.htmlDoc" sandbox width="100%" height="600px"></iframe>
</template>

<script>
// Count also do this with closed shadow dom and regular vue binding. Worth a consideration if this triggers reloads too aggressively

export default {
  props: {
    dealerId: Number,
    templateId: Number,
    styleId: Number,
    html: String,
  },
  computed: {
    htmlDoc() {
      const doc = document.implementation.createHTMLDocument("Price Preview");
      const dealerStyle = doc.createElement("link");

      function addStyle(path) {
        const link = doc.createElement("LINK");
        link.rel = "stylesheet";
        link.href = `https://cdn.dlron.us/${path}`;
        doc.head.appendChild(link);
      }

      addStyle(`resources/external/bootstrap/css/bootstrap.min.css`);
      addStyle(`assets/shared/bootstrap/css/extend.css`);
      addStyle(`assets/templates/${this.templateId}/layout.css`);
      addStyle(`assets/templates/${this.templateId}/structure/common.css`);
      addStyle(`assets/styles/${this.styleId}/common.css`);
      addStyle(`assets/styles/${this.styleId}/menu.css`);
      addStyle(`assets/styles/${this.styleId}/header/header.css`);
      addStyle(`resources/components/navigation/offcanvas/css/navigation.css`);
      addStyle(`assets/shared/font-awesome/css/font-awesome.min.css`);
      addStyle(`resources/external/internationalTelephoneInput/final/css/intlTelInput.min.css`);
      addStyle(`resources/components/openSearch/css/opensearch.css`);
      addStyle(`resources/external/jQuery/ui/jquery-ui.css`);
      addStyle(`resources/external/magnificPopup/magnificPopup.css`);
      addStyle(`resources/external/galleria/themes/classic/galleria.classic.css`);
      addStyle(`resources/components/inventorysearch/searchpage-r1/css/inventory.css`);
      addStyle(`assets/templates/${this.templateId}/structure/responsive-inventory.css`);
      addStyle(`assets/styles/${this.styleId}/responsive-inventory.css`);
      addStyle(`resources/components/mobileLeadDriver/css/mobileLeadDriver.css`);

      doc.body.innerHTML = this.html;

      return `<!DOCTYPE html><html>${doc.head.outerHTML}${doc.body.outerHTML}</html>`;
    }
  }
}
</script>

<style>
iframe.pricepreview {
  border: none;
}
</style>