<template>
  <v-app>
    <v-navigation-drawer app permanant>
      <v-list>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-container>
        <v-layout row>
          <v-text-field v-model="vin" label="VIN" />
          <v-spacer/>
          <v-btn @click="save">Save</v-btn>
        </v-layout>
        <v-layout row>
          <v-flex>
            <v-tabs v-model="activeTab">
              <v-tab ripple>Cash</v-tab>
              <v-tab ripple>Lease</v-tab>
              <v-tab ripple>Finance</v-tab>

              <v-tab-item>
                <v-card>
                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">Placeholder: Inventory-Owned Config Page</h3>
                      <div>Cash tab configuration edited here</div>
                    </div>
                  </v-card-title>
                </v-card>
              </v-tab-item>

              <v-tab-item>
                <sample-element 
                  tab="Lease" 
                  dealer-id="9682"
                  :vin="vin"
                  @desktop-preview-updated="updateLeasePreview">
                </sample-element>
              </v-tab-item>

              <v-tab-item>
                <sample-element 
                  tab="Finance" 
                  dealer-id="9682"
                  :vin="vin"
                  @desktop-preview-updated="updateFinancePreview">
                </sample-element>
              </v-tab-item>
            </v-tabs>
          </v-flex>
          <v-flex ml-4>
            <v-tabs v-model="activeTab">
              <v-tab ripple>Cash</v-tab>
              <v-tab ripple>Lease</v-tab>
              <v-tab ripple>Finance</v-tab>

              <v-tab-item>
                <price-preview :dealer-id="9682" :template-id="737" :style-id="759" html="<p>Placeholder: INV-owned preview</p>" />
              </v-tab-item>
              <v-tab-item>
                <price-preview :dealer-id="9682" :template-id="737" :style-id="759" :html="leasePreview" />
              </v-tab-item>
              <v-tab-item>
                <price-preview :dealer-id="9682" :template-id="737" :style-id="759" :html="financePreview" />
              </v-tab-item>
            </v-tabs>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import load from "little-loader"
import PricePreview from "./components/PricePreview";

load("https://jira.dealeron.com/secure/attachment/623962/sample-element.js");


export default {
  name: 'App',
  components: {
    PricePreview
  },
  data() {
    return { 
      activeTab: 0, 
      vin: "", 
      leasePreview: "", 
      financePreview: ""
    };
  },
  methods: {
    save() {
      const e = new Event("dealeron.pricing.configsaved");
      window.dispatchEvent(e);
    },
    updateLeasePreview(e) {
      this.leasePreview = e.detail[0].html;
    },
    updateFinancePreview(e) {
      this.financePreview = e.detail[0].html;
    }
  }
}
</script>